<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
<header class="header">

    <div class="logo">Kompetens 5.0</div>
    <input type="text" class="search" id="searchInput" placeholder="search courses...">

</header>

<div class="layout">
    <!-- SIDEBAR -->
    <aside class="sidebar">
        <div class="profile">
            <img src="/Images/Profil.exjobb.jpg">
            <h3 th:text="${user.firstName + ' ' + user.lastName}">Member</h3>

            <a href="/profile"><button class="purple-btn">View Profile</button></a>
        </div>


        <nav>
            <a href="/Home" class="active">Home</a>
            <a href="/my-courses">My courses</a>
            <a href="/browse-courses">Browse courses</a>
            <a href="/contact">Contact</a>
            <form th:action="@{/logout}" method="post" >
                <button type="submit" class="logout-btn">Log out</button>
            </form>
        </nav>
    </aside>

    <!-- MAIN  -->
    <main class="content">

        <div class="cards">
            <div class="card">

                <h3>My Registrations</h3>
                <p>View and manage your course registrations</p>
                <button class="purple-btn">View Registrations</button>

            </div>

            <div class="card">
                <h3>About Competence 5.0</h3>
                <p>Learn more about our platform and mission</p>
                <button class="purple-btn" onclick="window.open('https://comptelligence.org/about/', '_blank')">Visit website </button>
            </div>
        </div>

        <h2 class="course-title">Upcoming courses</h2>
        <div class="course">
        <div class="courses">
            <h4>Course 1</h4>
            <button class="register-btn">Register</button>
        </div>
        <div class="courses">
            <h4>Course 2</h4>
            <button class="register-btn">Register</button>
        </div>
        <div class="courses">
            <h4>Course 3</h4>
            <button class="register-btn">Register</button>
        </div>
        </div>

    </main>
</div>
<script>
document.getElementById("searchInput").addEventListener("input", function() {
    let q = this.value.toLowerCase()
    document.querySelectorAll(".courses").forEach(card => {
        let title = card.querySelector("h4").textContent.toLowerCase()
        card.style.display = title.includes(q) ? "block" : "none"
    })
})
</script>
</body>