<!DOCTYPE html>
      <html lang="en" xmlns:th="http://www.thymeleaf.org">
      <head>
      <meta charset="UTF-8">
      <title>News Details</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<div class="layout">
  <div th:replace="~{fragments :: sidebar}"></div>

  <main class="content">


    <div class="card" style="max-width: 1000px; margin-top: 20px;">
      <h2 th:text="${news.title}">News title</h2>
      <p><strong th:text="${news.publishDate}">Date</strong></p>
      <p th:text="${news.content}" style="white-space: pre-line;">News content</p>
    </div>
  </main>
</div>

</body>
</html>